
     <div class="well">
            <hr>
            <h4><div class="top"><span> Ranjani Anjur Venkatraman © 2021</span>&nbsp; &nbsp;
                  <a class="top text-white font-awesome" href="https://github.com/RanjaniAnjurVenkatraman"> <i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                  &nbsp;
                  <a class="top text-white font-awesome" href="https://www.linkedin.com/in/ranjani-anjur-venkatraman-a482a912b/"> <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
              </div></h4>
            <hr>
     </div>