<html>

<head>

    <title>Pharma Application</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{url_for('static', filename = 'team.png' )}}">


</head>

<body>


<div class="container">

    <div class="well text-center">

        <h1>WEB APPLICATION TO DETERMINE PERCENTAGE OF PHARMACEUTICAL SPENDING  </h1><br>
	<p>Aim of our app is to look into pharmaceutical spending across the globe, to determine which countries have the highest spending percentage on off the shelf pharmaceutical medicines and this information can be presented to pharmaceutical companies to promote products globally.  </p>

    </div>